#container {
    display: flex;
  }
  
  #imageContainer {
    margin-right: 20px;
  }
  
  #displayedImage {
    width: 300px;
    height: 200px;
  }
  
  #linkContainer {
    display: flex;
    flex-direction: column;
  }
  
  a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }
  