body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  #link-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #3498db;
  }
  
  a:hover {
    background-color: #2980b9;
  }
  
  #image-container {
    border: 1px solid #3498db;
    padding: 10px;
  }
  
  #main-image {
    width: 150px;
    height: auto;
  }
  